# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Coverage
coverage/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

/generated/prisma
